.app-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(12, 1fr);
  font-family: sans-serif;
}

button {
  padding: 0.5rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.css-editor,
.html-editor,
.js-editor {
  height: 80vh;
}

.html-editor {
  grid-column: 1/4;
}

.css-editor {
  grid-column: 4/8;
}

.js-editor {
  grid-column: 8/12;
}

.add-lib-modal {
  position: fixed;
  left: 60%;
  top: 30%;
  z-index: 9999;
  width: 400px;
  background-color: antiquewhite;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.modal-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.modal-header-close-button {
  grid-column: 4/5;
  text-align: right;
}

.modal-search-item:hover {
  background-color: aliceblue;
}
